ion-content {
  background-color: #f5f5f5;
}

// Estilos para la sección de datos personales
h1 {
  color: #333;
}

p {
  font-size: 16px;
}

// Estilos para listas
ion-list {
  margin-top: 16px;

  // Estilos para ítems de la lista
  ion-item {
    border-bottom: 1px solid #ddd;
  }

  // Estilos para encabezados de lista
  ion-list-header {
    background-color: #007bff;
    color: #fff;
  }
}